:root {
    --bgContact--: #ffffff;
    --bgHeader--: #009688;
    --bgmain--: #dadbd3;
    --bgAreaText--: #f3eeea;
    --bgNotificatioarea--: #8edafc;
    --iconNotification--: #8edafc;
    --bgSlideBarContact--:#eaeaea;
}

/* #region debug */
.debug .sidebar_contact {
    background-color: palegreen;
}


/* #endregion debug */


header {
    height: 200px;
    background-color: var(--bgHeader--);
}

main {
    height: calc(100vh - 200px);
    background-color: var(--bgmain--);
}

img {
    max-width: 100%;
}

.container {
    width: 1500px;
    height: 1000px;
    position: relative;
}

.row {
    width: 100%;
    height: 100%;
}

.boolzapper {
    height: 100%;
    width: 100%;
    background-color: var(--bgContact--);
    position: absolute;
    top: -150px;
    left: 0;
}

.sidebar_contact {
    height: 100%;
    max-width: 40%;
    background-color: var(--bgSlideBarContact--);
}


.txt_gray{
    color: rgb(177, 177, 177);
}

/* #region user */

.img_avatar {
    width: 5rem;
    border-radius: 50%;
}

.img_avatar img {
    border-radius: 50%;
}

.info_User i {
    color: #92929284;
}

.active {
    background-color: #00968732!important;
}

/* #endregion user */

.search_bar{
    background-color: var(--bgSlideBarContact--);
}

.container_contacts {
    overflow-y: scroll;
    height: calc(100% - 206px);
    background-color: var(--bgContact--);
}

.container_contacts ul {
    padding: 1rem 0.5rem;
}
/* #region notification */
.new_message {
    background-color: var(--bgNotificatioarea--);
}

.icon_ring {
    background-color: #ffffff;
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--iconNotification--);
    margin: 0.6rem;
}

.w_20 {
    width: 20%;
}

.w_80 {
    width: 79%;
}

/* #endregion notification */




/* #reagio chat */
.header_chat {
    background-color: var(--bgSlideBarContact--);
    height: 80px;
}

.main_chat {
    background-image: url(../../img/mine.jpg);
}